/* Color Palette */
@green: #18a84a;
@dark-gray: #161618;
@gray: #404041;
@light-gray: #bbbbbb;
@white: #ffffff;
@red: #ad1110;
/* Color Palette */

@row-border-height: 10px;

.entry-title {
  color: @light-gray;
  //font-family: 'Trajan Pro', Serif;
  text-transform: uppercase;
  font-size: 38px;
  margin-left: -5px;
}

.row {
  margin: 0;
}
//////////// Typography //////////////

h2, h3, h4, h5, h6 {
  //font-family: 'Trajan Pro', Serif;
  color: #ad1110;
  letter-spacing: .3px;
  text-transform: uppercase;
  margin-left: -3px;
}

p {
  //font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1.428571429;
  font-size: 14px;
  letter-spacing: .3px;
  //color: #999;
}
.quoteText{
  font-size:32px;
  text-transform: none;
}
//////////// Menu //////////////

nav ul.menu{ margin: 300px 0 100px 0; padding: 0; color: @white; position: relative; z-index: 999;}
nav ul.menu li{ display: inline;  list-style: none; margin-right: 10px;}
nav ul.menu li.menu-item::after{ content: "|"; padding-left: 10px}
nav ul.menu li.menu-item:last-child::after{ content: ""; padding-left:10px;}
nav ul.menu li a{color: @white; font-size: 1.1em; text-decoration: none; letter-spacing: .8px;}
nav ul.menu li a:hover{color: @light-gray;}

#single-page-nav ul.menu{ margin: 0 0 0 50px; color: @white;}
#single-page-nav ul.menu li{ display: inline;  list-style: none; margin-right: 15px;}
#single-page-nav ul.menu li.menu-item::after{ content: "|"; padding-left: 15px}
#single-page-nav ul.menu li a{color: @white; text-decoration: none;}
#single-page-nav ul.menu li a:hover{color: @gray;}

//////////// Header for Single Page //////////////

#single-page-header {
  width: 100%;
  background: @dark-gray;
  padding: 10px;
}

#single-page-nav {
  padding-top: 4%;
}

//////////// Row #1 Header //////////////
@row1-height: 840px;

.header {
  height: @row1-height;
  border-bottom: @row-border-height solid #fff;
  position: relative;
}

.logo-area {
  height: @row1-height;
  background: #fff;
}

#logo {
  position:absolute;
  //float: right;
  //margin-top: 120px;
  //margin-right: 50px;
  top: 300px;
  left:45px;
}

#jose-header {
  position: absolute;
  bottom: @row-border-height;
  right: -200px;
  z-index: 99
}

.header-content {
  height: @row1-height - @row-border-height;
  background: #404041;
  position: relative;
}

.header-content h1 {
 
}

#home-content {
  padding-left: 50px;
  color: @white;
  font-size: 12px;
}

.sub-head {
  text-align:center;
  position: relative;
}

.sub-head h2 {
  font-size: 18px;
  padding: 4% 5%;
  position: relative;
  color: #fff;
}

.right-bottom{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 30px;
  border-bottom: 3px solid @white;
  border-right: 3px solid @white;
}

.left-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border-top: 3px solid @white;
  border-left: 3px solid @white;
}

#jose-j {
  position: absolute;
  z-index: 99;
  top: 200px;
  right: 10%;
}

#arrow {
  margin: 30px auto;
}
//////////// Row #2 Main //////////////
@row2-height: auto;

.main {
  height: @row2-height;
  background: #161618;
  border-bottom: @row-border-height solid #ad1110;
  position: relative;
}

.main p {
  font-size: 14px;
}
.main-content {
  background: #252529;
}

#about-content {
  padding: 5% 6%;
  border-bottom: 2px solid #b3b3b3;
  color: @white;
}

.panel {
  background: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
}

.panel-default>.panel-heading {
  border-radius: 0;
  background: #222;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
  border-top-color: #ad1110;
}

.panel-title>a {
  text-decoration: none;
}

#media-content {
  padding: 5% 6%;
  color: @white;
}

#media-content h2 {
  color: @light-gray;
}

#media-content a {
  color: @white;
  font-size: 12px;
}

#media-content a:hover {
  color: @light-gray;
  text-decoration: none;
}

#jose-main {
  position: absolute;
  bottom: 0;
  right: 5%;
}

#video-content {
  margin-top: 30%;
  margin-left: auto;
  margin-right: auto;
  height: 275px;
  max-width: 426px;
  position: relative;
  z-index: 99;
  padding: 15px;
  background: #404041;
}

#video-content h2{
  color: @white;
  font-size: 18px;
  text-transform: uppercase;
  margin: 10px;
}

.video {
  padding-top: 10px;
  margin: 0 auto;
}

//////////// Row #3 Event //////////////
.events {
    position: relative;
}

#jose-events {
  position: absolute;
  bottom: -25px;
  left: 0;
  border-right: @red 10px solid;
}

#jose-e {
  position: absolute;
  bottom:20px;
  left: 32%;
}

#event-content {
  padding: 1%;
}

#event-content h1 {
  color: #161618;
}

#event-content h2 {
  font-size: 16px;
  color: @red;
  text-transform: uppercase;
}

#event-content p {
  font-size: 12px;
}

#contact {
  min-height: 450px;
}

#contact-content {
  padding: 2%;
  background: #404041;
}

#contact-content h1 {
  margin: 0 0 0 -5px;
}

#contact-content p{
  color: @white;
}

header#header{
  border-bottom: 3px solid @green;
}

.hero-image{
  width: 100%;
  min-height: 813px;
  background: url('img/hero-image.jpg') no-repeat;
  background-size: cover;
  
}

//////////// Footer //////////////
#footer {
  height: 50px;
  width: 100%;
  background: #ad1110;
  margin-top: 25px;
}

#site-info {
  float: right;
  color: @white;
  vertical-align: middle;
  padding: 15px 10% 0 0;
  
}

#site-info img {
  padding: 0 10px;
}

/** MEDIA QUERIES **/
@screen-xs: 480px;
@screen-xs-max: 480px;
@screen-sm: 768px;
@screen-sm-min: 768px;
@screen-sm-max: 899px;
@screen-smmd:900px;
@screen-md: 992px;
@screen-md-min: 900px;
@screen-md-max: 1199px;
@screen-lg: 1200px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;



/* MAX 768  */
@media (max-width: @screen-md-max) {

.header {
  height: auto;
  border-bottom: @row-border-height solid #fff;
  position: relative;
}

.header-content {
  height: @row1-height - @row-border-height;
  background: #404041;
  position: relative;
  padding: 2%;
}

.header-content h1 {
  margin-left: 5%;
}

#home-content {
  padding: 5%;
}

.main {
  padding: 5%;
}

.events {
  padding: 2% 10%;
}

#video-content {
  margin-top: 0;
}

nav ul.menu{ margin: 0; padding: 0; color: @white; position: relative; z-index: 999;}
nav ul.menu li{ display: block;  list-style: none; margin-right: 0;  padding: 10px 0;}
nav ul.menu li.menu-item::after{ content: none;}
nav ul.menu li a{color: @gray; text-decoration: none; font-size: 16px;}
nav ul.menu li a:hover{color: @light-gray;}
   
}

.rsUni .rsBullet {
width: 8px;
height: 16px;
display: inline-block;
padding: 5px;
margin-right: 5px;
}

.rsUni .rsBullet.rsNavSelected span {
background-color: @red !important;
}


/* MAX: 992 */
@media (max-width: @screen-md) { 
  
  .header-content {
    height: 430px;
  }

}

/* MIN: 900 MAX: 1199 */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { 
  
}

/* MIN: 1200  */
@media (min-width: @screen-lg-min) {
  
}

/* MIN: 1400 */
@media (min-width: @screen-xlg-min) {
#video-content{
  margin-top: 15%;
  margin-left: 10%;   
 }
}
